body {
	margin: 0;
    font-family: Verdana;
    font-size: 0.8rem;
	background-color: #5f9ae5;
	display: flex;
}

.fa {
    font-size: 1rem;   
}

ul {
    list-style: none;
    padding-left: 0;
	margin: 10px;
}

li {
    list-style-type: none;
}

p {
    margin: 0.5em;
}
p i {
    margin-left: 4px;
}

#directorylist {
    padding: 1em;
}

span.directory {
    margin: 1em;
}

#videoplayer {
	background-color: #426b9f;
	padding: 25px 25px 50px 25px;
	position: fixed;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: center;
}

#videocolumn {
	position: relative;
	padding-right: 50px;
}

#browser {
	width: 60%;
}

#caption {
    color: #EEE;
	width: 100%;
	text-align: center;
}

#video {
    object-fit: scale-down;
}

.video_thumbnail {
    height: 150px;
    margin: 0 auto;
    padding-top: 1em;
}

.video_listing {
    margin: 10px;
    display: inline-grid;
    text-align: center;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    background-color: #426b9f;
    color: #EEE;
    vertical-align: center;
}