body {
    margin: 0;
    font-family: Verdana;
    font-size: 0.8rem;
    background-color: #5f9ae5;
    display: flex;
}

.fa {
    font-size: 1rem;   
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 10px;
}

li {
    list-style-type: none;
}

p {
    margin: 0.5em;
}
p i {
    margin-left: 4px;
}

#directoryList {
    padding: 1em;
}

span.directory {
    margin: 0.5em;
}

#videoplayer {
    background-color: #426b9f;
    padding: 25px;
    position: fixed;
    border-radius: 10px;
    margin-top: 150px;
    margin-right: 50px;
    text-align: center;
}

#videocolumn {
    position: relative;
    padding-right: 50px;
}

#browser {
    width: 60%;
    margin: 2em;
}

#caption {
    color: #EEE;
    width: 100%;
    text-align: center;
}

#video {
    object-fit: scale-down;
}

.video_thumbnail {
    height: 150px;
    margin: 1em auto 0 auto;
}

.video_listing {
    margin: 10px;
    display: inline-grid;
    text-align: center;
    width: 300px;
    height: 280px;
    border-radius: 15px;
    background-color: #426b9f;
    color: #EEE;
    vertical-align: center;
}

#searchcontainer {
    background-color: #426b9f;
    color: #EEE;
    
    width: 400px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 25px;
    position: fixed;
    border-radius: 10px;
    text-align: center;
}

#searchText {
    width: 100%;
}

#searchcontainer p {
    margin: 0em;
    padding-bottom: 1em;
}

#dircontainer {
    background-color: #426b9f;
    color: #EEE;

    width: 90%;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
}

#pageInfo {
    width: 90%;
    text-align: right;
    color: #EEE;
}